<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>The Beta List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style type="text/css">
    p {
      width: 450px;
    }
  </style>
</head>
<body style="margin: 0; padding: 0;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
     <tr>
      
      <td align="center" style="background-color:#000000;font-family: Futura, sans-serif; color:#f9b443; padding:30px 30px;">
       <!-- <h1 style="border:3px solid #f9b443; text-transform:uppercase; padding: 10px;" align="left">The_Beta List</h1> -->
      <img src="http://work2.goodbysilverstein.com/newsletter/betalist/Beta_list.png" style="width:550px;">
      </td>
      
     </tr>
     <tr>
      <td style="background-color:#000000; font-family: Futura, sans-serif; color:#f9b443; padding:5px 30px;">
       <h2>8.29.14</h2>
      </td>
     </tr>
     <tr>
      <td style="background-color:#000000;padding: 0 30px 0 30px;">
       <table style="background-color:#000000;font-family: Futura, sans-serif;" border="0" cellpadding="0" cellspacing="0" width="100%">

        <tr>
         <td>
          <h2 style="color:#f9b443;">1. Interactive Dance Floor by MINI</h2>
          <p style="color:#ffffff; letter-spacing:.06em;">MINI has created an interactive dance floor that lights up with the steps of the dancers on it.</p>
          <p style="color:#ffffff;"><a style="color:#ffffff;" href="http://www.trendhunter.com/trends/interactive-dance-floor" target="_blank">http://www.trendhunter.com</a></p>
          <a style="color:#ffffff;" href="http://www.trendhunter.com/trends/interactive-dance-floor" target="_blank"><img src="http://work2.goodbysilverstein.com/newsletter/betalist/8.29.14/mini.gif" style="width:450px;"></a>
         </td>
        </tr>

        <tr><td style="background-color:#000000;font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr><!-- spacers -->
        <tr>
         <td>
          <h2 style="color:#f9b443;">2. Buy your next car on Twitter...</h2>
          <p style="color:#ffffff; letter-spacing:.06em;">Acura allows you to buy a brand new car with 140 characters or less.</p>
          <p style="color:#ffffff;"><a style="color:#ffffff;" href="http://www.theverge.com/2014/8/20/6050849/weird-new-twitter-feature-lets-you-build-an-acura-right-inside-a-tweet" target="_blank">http://www.theverge.com</a></p>
          <a style="color:#ffffff;" href="http://www.theverge.com/2014/8/20/6050849/weird-new-twitter-feature-lets-you-build-an-acura-right-inside-a-tweet" target="_blank"><img src="http://work2.goodbysilverstein.com/newsletter/betalist/8.29.14/acura.gif" style="width:450px;"></a>
         </td>
        </tr>

        <tr><td style="background-color:#000000;font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr><!-- spacers -->
        <tr>
         <td>
          <h2 style="color:#f9b443;">3. Never see another ad again!</h2>
          <p style="color:#ffffff; letter-spacing:.06em;">These people have found a way to turn advertising billboards into exhibition spaces.</p>
          <p style="color:#ffffff;"><a style="color:#ffffff;" href="http://thecreatorsproject.vice.com/blog/never-see-a-real-ad-in-time-square-again" target="_blank">http://thecreatorsproject.vice.com</a></p>
          <a style="color:#ffffff;" href="http://thecreatorsproject.vice.com/blog/never-see-a-real-ad-in-time-square-again" target="_blank"><img src="http://work2.goodbysilverstein.com/newsletter/betalist/8.29.14/timesSquare.gif" style="width:450px;"></a>
         </td>
        </tr>

        <tr><td style="background-color:#000000;font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr><!-- spacers -->
        <tr>
         <td>
          <h2 style="color:#f9b443;">4. Hyperlapse</h2>
          <p style="color:#ffffff; letter-spacing:.06em;">With Instagram you can now fast-forward to the future!</p>
          <p style="color:#ffffff;"><a style="color:#ffffff;" href="http://www.wired.com/2014/08/hyperlapse-instagrams-new-app-is-like-a-15000-video-setup-in-your-hand" target="_blank">http://www.wired.com</a></p>
          <a style="color:#ffffff;" href="http://www.wired.com/2014/08/hyperlapse-instagrams-new-app-is-like-a-15000-video-setup-in-your-hand" target="_blank"><img src="http://work2.goodbysilverstein.com/newsletter/betalist/8.29.14/hyperlapse.gif" style="width:450px;"></a>
         </td>
        </tr>

        <tr><td style="background-color:#000000;font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr><!-- spacers -->
        <tr>
         <td>
          <h2 style="color:#f9b443;">5. Lake of Dreams</h2>
          <p style="color:#ffffff; letter-spacing:.06em;">Epic time lapse of Burning Man 2013.</p>
          <p style="color:#ffffff;"><a style="color:#ffffff;" href="https://vimeo.com/103975643" target="_blank">https://vimeo.com/103975643</a></p>
          <a style="color:#ffffff;" href="https://vimeo.com/103975643" target="_blank"><img src="http://work2.goodbysilverstein.com/newsletter/betalist/8.29.14/burningman2.gif" style="width:450px;"></a>
         </td>
        </tr>

        <tr><td style="background-color:#000000;font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr><!-- spacers -->
        <tr>
         <td>
          <h2 style="color:#f9b443;">6. Van Damme it!</h2>
          <p style="color:#ffffff; letter-spacing:.06em;">JCVD is at it again, this time for Coors Light.</p>
          <p style="color:#ffffff;"><a style="color:#ffffff;" href="https://www.youtube.com/watch?v=tVhJ3wd_F04" target="_blank">https://www.youtube.com</a></p>
          <a href="https://www.youtube.com/watch?v=tVhJ3wd_F04" target="_blank"><img src="http://work2.goodbysilverstein.com/newsletter/betalist/8.29.14/damme.gif" style="width:450px;"></a>
         </td>
        </tr>

        <tr><td style="background-color:#000000;font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr><!-- spacers -->
        <tr>
         <td>
          <h2 style="color:#f9b443;">7. "You have a signature model guitar?"</h2>
          <p style="color:#ffffff; letter-spacing:.06em;">Steampunk! A 3D printed guitar body.</p>
          <p style="color:#ffffff;"><a style="color:#ffffff;" href="http://www.odd.org.nz/steampunk.html" target="_blank">http://www.odd.org.nz/steampunk.html</a></p>
          <a style="color:#ffffff;" href="http://www.odd.org.nz/steampunk.html" target="_blank"><img src="http://work2.goodbysilverstein.com/newsletter/betalist/8.29.14/guitar.gif" style="width:450px;"></a>
         </td>
        </tr>

        <tr><td style="background-color:#000000;font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr><!-- spacers -->
        <tr>
         <td>
          <h2 style="color:#f9b443;">8. Save Me' by Irma</h2>
          <p style="color:#ffffff; letter-spacing:.06em;">A phenomenal projection-mapped music video.</p>
          <p style="color:#ffffff;"><a style="color:#ffffff;" href="http://www.thisiscolossal.com/2014/08/irma-save-me-music-video/?src=footer" target="_blank">http://www.thisiscolossal.com</a></p>
          <a style="color:#ffffff;" href="http://www.thisiscolossal.com/2014/08/irma-save-me-music-video/?src=footer" target="_blank"><img src="http://work2.goodbysilverstein.com/newsletter/betalist/8.29.14/irma2.gif" style="width:450px;"></a>
         </td>
        </tr>

        
        <tr><td style="background-color:#000000;font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr><!-- spacers -->
        <tr>
         <td>
          <h2 style="color:#f9b443;">Good Reads</h2>
          <p style="color:#ffffff; letter-spacing:.06em;">"Decoding Nature's Soundtrack" - Bernie Krause spent most of the last half-century recording biological symphonies to which most of us are deaf.</p>
          <p style="color:#ffffff;"><a style="color:#ffffff;" href="http://nautil.us/issue/12/feedback/decoding-natures-soundtrack" target="_blank"><u>http://nautil.us/issue/12/feedback/decoding-natures-soundtrack</u></a></p>
          <a style="color:#ffffff;" href="http://nautil.us/issue/12/feedback/decoding-natures-soundtrack" target="_blank"><img src="http://work2.goodbysilverstein.com/newsletter/betalist/8.29.14/naturesmic.png" style="width:450px;"></a>
         </td>
        </tr>

        
       </table>
      </td>
     </tr>
     <tr>
      <td style="background-color:#000000;">
       footer
      </td>
     </tr>
    </table>
   </td>
  </tr>
 </table>
</body>
</html>